<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="rolPrincipal/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>
        <%- titulo %>
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/rolPrincipal/css/linearicons.css">
    <link rel="stylesheet" href="/rolPrincipal/css/font-awesome.min.css">
    <link rel="stylesheet" href="/rolPrincipal/css/bootstrap.css">
    <link rel="stylesheet" href="/rolPrincipal/css/magnific-popup.css">
    <link rel="stylesheet" href="/rolPrincipal/css/nice-select.css">
    <link rel="stylesheet" href="/rolPrincipal/css/animate.min.css">
    <link rel="stylesheet" href="/rolPrincipal/css/owl.carousel.css">
    <link rel="stylesheet" href="/rolPrincipal/css/main.css">

</head>

<body>

    <!-- HEADER NAV -->
    <%- include(navRol) %>
    <!-- END HEADER NAV -->

    <% if(view == 'home') { %>
    <%- include(homeGeneral) %>
    <% } %>

    <% if(view == 'perfil') { %>
    <%- include(perfil) %>
    <% } %>

    <% if(view == 'reservaDir') { %>
    <%- include(reserva) %>
    <% } %>

    <% if(view == 'eslistarNoticia') { %>
    <%- include(listarNoticia) %>
    <% } %>

    <% if(view == 'eslistarObra') { %>
    <%- include(listarObra) %>
    <% } %>

    <% if(view == 'esRegReserva') { %>
    <%- include(regReserva) %>
    <% } %>

    <% if(view == 'esRegNoticia') { %>
    <%- include(regNoticia) %>
    <% } %>

    <% if(view == 'esRegObra') { %>
    <%- include(regObra) %>
    <% } %>

    <% if(view == 'esEditNoticia') { %>
    <%- include(editNoticia) %>
    <% } %>

    <% if(view == 'esEditObra') { %>
    <%- include(editObra) %>
    <% } %>

    <% if(view == 'esEditActor') { %>
    <%- include(editActor) %>
    <% } %>

    <% if(view == 'eslistarActor') { %>
    <%- include(listarActor) %>
    <% } %>

    <% if(view == 'esRegActor') { %>
    <%- include(regActor) %>
    <% } %>

    <script src="/rolPrincipal/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/rolPrincipal/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <!-- <script src="rolPrincipal/js/jquery.min.js"></script> -->
    <script src="/rolPrincipal/js/easing.min.js"></script>
    <script src="/rolPrincipal/js/hoverIntent.js"></script>
    <script src="/rolPrincipal/js/superfish.min.js"></script>
    <script src="/rolPrincipal/js/jquery.ajaxchimp.min.js"></script>
    <script src="/rolPrincipal/js/jquery.magnific-popup.min.js"></script>
    <script src="/rolPrincipal/js/owl.carousel.min.js"></script>
    <script src="/rolPrincipal/js/jquery.sticky.js"></script>
    <script src="/rolPrincipal/js/jquery.nice-select.min.js"></script>
    <script src="/rolPrincipal/js/parallax.min.js"></script>
    <script src="/rolPrincipal/js/mail-script.js"></script>
    <script src="/rolPrincipal/js/main.js"></script>

</body>

</html>