<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Obras</h3>
                    <div class="progress-table-wrapy">
                        <table class="table table-hover table-fixed">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Genero</th>
                                    <th>Autor</th>
                                    <th>Fecha</th>
                                    <th>Lugar</th>
                                    <th>Hora</th>
                                    <% if( rol == 3){ %>
                                    <th>Accion</th>
                                    <% } else{ %>
                                    <th>Precio Entrada</th>
                                    <% }  %>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>
                                <% lista.forEach(function(obra,i){ %>
                                <tr id="<%= i%>">
                                    <th scope="row"><%- (i+1) -%></th>
                                    <td><%= obra.nombre %></td>
                                    <td><%- obra.genero -%></td>
                                    <td><%= obra.autor %></td>
                                    <td><%- obra.fechaEstreno -%></td>
                                    <td><%= obra.lugarEstreno %></td>
                                    <td><%- obra.horaEstreno -%></td>
                                    <% if( rol == 3){ %>
                                    <td>
                                        <a href="/editarObra/<%= obra.external_id %>"
                                            class="genric-btn link">Editar</a>
                                    </td>
                                    <% } else{ %>
                                    <td><%- obra.precioBoleto -%></td>
                                    <% }  %>
                                </tr>
                                <script>
                                    var html = '';
                                    $('#<%= i%>').hover(function () {
                                        html = '<h3 class="mb-30" id="nombreActor"></h3><div class="switch-wrap d-flex justify-content-between  text-center">';
                                        if ('<%= obra.esVideo %>' == '1') {
                                            $('#padre').empty();
                                            html += '<div class=""><iframe width="350" height="175" id="videoNoticia" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>';
                                            html += '</div><div class="switch-wrap d-flex justify-content-between"><div class="col-lg-11 about-left" id="DatoX"></div></div>';
                                            $('#padre').html(html);
                                            $('#videoNoticia').attr('src', '<%= obra.multimedia%>');
                                        } else {
                                            html += '<div class="section-ga" id="FotoX"></div></div><div class="switch-wrap d-flex justify-content-between"><div class="col-lg-11 about-left" id="DatoX"></div></div>';
                                            $('#padre').empty();
                                            $('#padre').html(html);
                                            $('#FotoX').css('background-image', 'url(<%= obra.multimedia%>)');
                                            $('#FotoX').css('background-size', 'cover');
                                            $('#FotoX').css('background-position', 'center center');
                                        }
                                        $('#DatoX').html('<p><%= obra.desc %></p>');
                                        $('#nombreActor').text('<%= obra.titulo%>');
                                    });
                                </script>
                                <% }); %>
                            </tbody>
                            <!--Table body-->

                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 mt-sm-30" id="xx">
                    <div id='padre' class="single-element-widget">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>